/*RandomGoogleFonts*/
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

/*Vanta.js Background Specifications*/
#vanta-bg {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.name-container {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: rgb(255, 255, 255);
  text-align: center;
}

/*Name Container*/

.name-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.name {
  font-size: 3rem;
  font-weight: bold;
  display: block;
  white-space: nowrap;
}

.static {
  color: #ffffff00;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  /* creame background bar behind the text */
  background: #FFFDD0;
  padding: 0 0.2em;
  mix-blend-mode: screen;
  /* Start off-screen on left */
  transform: translateX(-100%);
  animation: slidebar 2s ease-in-out forwards;
}

/* Animation: slide from left to right */
@keyframes slidebar {
  to {
    transform: translateX(0);
  }
}

.header {
  position: fixed;      /* Keep it fixed at top */
  width: 100%;          /* Full width */
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.15);  /* Slightly transparent white */
  backdrop-filter: blur(10px);                   /* Frosted glass effect */
  z-index: 10;         /* Above Vanta bg */
  transition: background-color 0.3s ease;
}

.nav.container {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header.hide {
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}
